@media only screen and (max-width: 767px) {
    .twoside {
        display: list-item;
    }
    body {
        background-image: url(img/bg-mobile.svg);
        background-repeat: no-repeat;
        background-color: hsl(257, 40%, 49%);
    }
    .huddle {
        width: 50%;
        padding: 10px 7%;
    }
    .mockups {
        width: 100%;
        padding: 10px 10%;
    }
    h1 {
        font-size: 30px;
        text-align: center;
        line-height: normal;
    }
    p {
        font-size: 20px;
        text-align: center;
    }
    button {
        margin-top: 10%;
        margin-left: 25%;
        padding: 9px 15%;
    }
    .icons {
        margin-right: 25%;
    }
    .attribution {
        margin-top: 15%;
    }
}